.likeIconBorder {
  border: 2px solid white;
  height: 22px;
  width: 22px;
  border-radius: var(--radius-full);
  padding: 1px;

  .likeIconContainer {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: var(--radius-full);
    overflow: hidden;

    .likeIconFill {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: white;
      transition: all 0.3s ease;
    }
  }
}