.resetPage {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/backgrounds/authBackground.jpg") ;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  user-select: none;
  gap: 10px;
}

.resetContainer {
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: var(--radius-40);
  backdrop-filter: blur(10px);
  padding: var(--space-48);
  width: 524px;
  height: auto;

  .resetHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-24);
    margin-bottom: var(--space-32);
    width: 100%;

    .headerTitle {
      display: flex;
      align-items: center;
      justify-content: center;

      h1 {
        font-size: var(--text-48);
        line-height: var(--space-48);
        text-align: center;
        width: 80%;
      }
    }
  }

  form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .fields {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: var(--space-04);
      width: 100%;
    }

    .buttonsContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 48px;
      margin-top: var(--space-12);
      gap: var(--space-08);

      button[type=submit] {
        height: 100%;
        font-size: var(--text-16) !important;
        font-weight: 600;
      }
    }
  }
}