@use '../../../styles/_breakpoints' as bp;

.maintenanceMobilePage {
  min-height: 100vh;
  min-height: 100dvh;

  width: 100%;
  padding-bottom: env(safe-area-inset-bottom);
  padding-top: env(safe-area-inset-top);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-32);

  background-image: url("/backgrounds/authBackground.jpg") ;
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: var(--radius-40);

  user-select: none;

  @include bp.respond(mobile) {
    justify-content: start;
    gap: var(--space-128);
    padding: var(--space-24);
    border-radius: 0;
  }

  .maintenanceMobileHeader {
    width: 100%;
    height: 72px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: var(--space-24);
    padding: var(--space-24);

    img {
      width: auto;
      height: 32px;
    }
  }


  .maintenanceMobileContainer {
    background-color: var(--glass-background);
    border: var(--glass-border);
    backdrop-filter: var(--glass-backdrop);
    border-radius: var(--radius-40);

    width: 100%;
    height: auto;
    padding: var(--space-48) var(--space-36);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-48);

    @include bp.respond(mobile) {
      max-width: 524px;
      padding: var(--space-48);
    }

    h1 {
      font-size: var(--text-32);
      line-height: var(--text-32);
      text-align: center;
    }

    .texts {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--space-24);

      p{
        text-align: center;
        font-size: var(--text-16);
      }

    }

    button {
      background-color: var(--glass-background-dark);
      border: 1px solid var(--color-text-red);
      width: 100%;
      height: 54px;
      color: var(--color-text-red);

      @include bp.respond(mobile) {
        width: auto;
        padding: 0 var(--space-48);
      }
    }
  }
}