.checkboxContainer {
  width: 48px;
  height: 24px;
  background-color: var(--color-surface);
  border: 1px solid var(--color-background-secondary);
  border-radius: var(--radius-40);
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 2px;
  transition: all 0.3s ease;
  flex-shrink: 0;

  .checkbox {
    height: 100%;
    width: auto;
    aspect-ratio: 1/1;
    background-color: var(--color-gray);
    border-radius: var(--radius-full);
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1),
                background-color 0.3s ease;
    transform: translateX(0);
  }

  &.isPressed .checkbox {
    transition: transform 0.1s cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateX(0) scale(0.9);
  }
}

.isCheck {
  .checkbox {
    background-color: var(--color-text-green);
    transform: translateX(24px);
  }

  &.isPressed .checkbox {
    transform: translateX(24px) scale(0.9);
  }
}

.isDisabled {
  opacity: 0.5;

  &:hover {
    cursor: not-allowed !important;
  }
}