@use '../../../styles/_breakpoints' as bp;

.modalBackground {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  padding: var(--space-24);
}

.modalContainer {
  color: #fff;
  background: #191919;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: var(--radius-40);
  font-family: var(--font-body), sans-serif;
  padding: var(--space-24);
  display: flex;
  flex-direction: column;
  gap: var(--space-24);
  align-items: center;
  user-select: none;
  max-width: 500px;
  width: 100%;
  position: relative;
  @include bp.respond(tablet) {
    padding: var(--space-36);
  }

  .textContainer {
    width: 100%;

    h3 {
      font-size: var(--text-32);
      font-family: var(--font-heading), sans-serif;
      text-align: center;
      @include bp.respond(laptop) {
        font-size: var(--text-36);
        text-align: left;
      }
    }

    p {
      font-weight: 300;
      font-size: var(--text-14);
      color: var(--color-text-secondary);
      overflow-wrap: break-word;
      hyphens: auto;
      text-align: center;
      @include bp.respond(laptop) {
        text-align: left;
      }

      span {
        font-weight: 600;
        word-break: break-all;
      }
    }
  }



  .buttonContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    @include bp.respond(laptop) {
      justify-content: flex-end;
    }
  }
}