@use '../../../styles/breakpoints' as bp;

.footer{
  font-family: var(--font-heading), sans-serif;
  font-size: var(--text-16);
  display: flex;
  align-items: center;
  height: fit-content;
  justify-content: center;
  gap: var(--space-16);
  color: var(--color-background-secondary);

  p {
    display: flex;
    align-items: center;
  }

  .devByContainer {
    padding: var(--space-08) var(--space-08);
    background-color: var(--color-surface);
    border-radius: var(--radius-08);

    p {
      font-size: var(--text-12);
      line-height: var(--text-16);
      gap: var(--space-04);

      span {
        font-size: var(--text-16);
        color: var(--color-text-secondary);
      }
    }
  }
}