.texts {
  display: flex;
  flex-direction: column;
  gap: var(--space-12);
  margin-bottom: var(--space-12);

  h1 {
    font-family: var(--font-heading), sans-serif;
    font-size: var(--text-32);
    line-height: var(--space-32);
    text-align: center;
  }

  p {
    color: var(--color-text-secondary);
    text-align: justify;
    line-height: var(--space-24);
  }

  h4 {
    text-transform: uppercase;
    text-align: center;
    color: var(--color-text-red);
    font-size: var(--text-14);
    margin-top: var(--space-24);
  }
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  button {
    border: 1px solid var(--red-border);
    background-color: var(--red-dark);
    border-radius: var(--space-32);
    color: var(--color-text-red);
    height: 36px;
    padding: 0 var(--space-24);
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    font-size: var(--text-16);
    font-weight: 600;

    &:hover {
      border: 1px solid var(--red-border-hover);
      background-color: var(--red-dark-hover);
    }
  }

  .disabled {
    cursor: default;
    border: 1px solid rgba(255, 60, 60, 0.1);
    background-color: rgba(43, 18, 18, 0.2);
    color: rgba(255, 60, 60, 0.5);

    &:hover {
      border: 1px solid rgba(255, 60, 60, 0.1);
      background-color: rgba(43, 18, 18, 0.2);
    }
  }
}