.title {
  font-family: var(--font-heading), sans-serif;
  font-size: var(--text-32);
  line-height: var(--space-32);
}

.paragraphe {
  margin-top: var(--space-12);
  color: var(--color-text-secondary);
}

.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: var(--space-24);

  button {
    border: 1px solid var(--red-border);
    background-color: var(--red-dark);
    border-radius: var(--space-32);
    color: var(--color-text-red);
    height: 36px;
    padding: 0 var(--space-24);
    cursor: pointer;
    transition: all 0.3s ease;
    text-transform: uppercase;
    font-size: var(--text-16);
    font-weight: 600;

    &:hover {
      border: 1px solid var(--red-border-hover);
      background-color: var(--red-dark-hover);
    }
  }
}