.optionsButton {
  border: none;
  background-color: transparent;
  font-size: var(--text-12);
  width: 100%;
  min-width: 200px;
  padding: var(--space-08) var(--space-12);
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: left;
  color: var(--color-text);

  &:hover {
    background-color: var(--color-background-secondary-hover);
  }
}

.redText {
  color: var(--color-text-red);
}