.invitePage {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/backgrounds/authBackground.jpg") ;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  user-select: none;
  gap: 10px;
}

.inviteContainer {
  background: var(--glass-background);
  border: var(--glass-border);
  backdrop-filter: var(--glass-backdrop);
  border-radius: var(--radius-40);
  padding: var(--space-48);
  width: 524px;
  height: auto;

  .headerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-24);
    margin-bottom: var(--space-24);

    .headerHeader {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .backButton{
        display: flex;
        align-items: center;
        color: var(--color-text-secondary);
        text-transform: uppercase;
        text-decoration: none;
        font-size: var(--text-12);
        position: relative;
        transition: color 0.3s ease;
        padding: 2px 0;

        img {
          transform: rotateZ(90deg);
          height: 14px;
          width: 14px;
        }

        p {
          height: 100%;
          display: flex;
          align-items: center;
          z-index: 1000;
          padding: 0 4px 0 2px;
        }

        &:before {
          content: "";
          position: absolute;
          bottom: 0;
          right: 0;
          height: 100%;
          background-color: var(--color-background);
          width: 0;
          opacity: 0;
          transition: width 0.3s ease, opacity 0.3s ease;
        }

        &:hover {
          color: var(--color-text);
          &:before {
            width: 100%;
            opacity: 1;
          }
        }
      }

      .homeButton {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: auto;
          height: 24px;
        }
      }
    }

    .headerTitle {
      display: flex;
      align-items: center;
      justify-content: center;

      h1 {
        font-size: var(--text-48);
        line-height: var(--space-48);
        text-align: center;
      }
    }
  }

  .groupContainer {
    display: flex;
    flex-direction: column;

    p{
      color: var(--color-text-secondary);
    }

    .groupCardContainer{
      width: 100%;
      display: flex;
      align-items: center;
      gap: var(--space-08);
      border-radius: var(--radius-08);
      background-color: rgba(255, 255, 255, 0.2);
      border: 1px solid rgba(255, 255, 255, 0.4);
      padding: var(--space-04);
      height: 72px;
      color: var(--color-text);

      img {
        height: 100%;
        width: auto;
        aspect-ratio: 1/1;
        border-radius: var(--space-04);
        border: 1px solid rgba(255, 255, 255, 0.4);
      }

      h3 {
        font-family: var(--font-heading), sans-serif;
        font-size: var(--text-32);
        transform: translateY(1px);
      }
    }
  }

  .formQuestionContainer {
    width: 100%;
    margin-top: var(--space-32);
    display: flex;
    gap: var(--space-04);
    justify-content: space-between;
    align-items: center;

    h2 {
      font-size: var(--text-24);
      text-align: center;
    }

    button[type=button] {
      height: 32px;
      font-size: var(--text-14) !important;
      font-weight: 600;
    }
  }
}