@use '../../../styles/_breakpoints' as bp;

.invitePage {
  min-height: 100vh;
  min-height: 100dvh;

  width: 100%;
  padding-bottom: env(safe-area-inset-bottom);
  padding-top: env(safe-area-inset-top);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  background-image: url("/backgrounds/authBackground.jpg") ;
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: var(--radius-40);

  user-select: none;

  @include bp.respond(mobile) {
    padding: var(--space-24);
    align-items: center;
    flex-direction: row;
    justify-content: center;
    border-radius: 0;
  }
}

.inviteHeader {
  width: 100%;
  height: 72px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: var(--space-24);
  padding: var(--space-24);
}

.inviteContainer {
  background: var(--glass-background);
  border: var(--glass-border);
  backdrop-filter: var(--glass-backdrop);
  border-radius: var(--radius-40);

  width: 100%;
  height: auto;
  padding: var(--space-48) var(--space-36);

  @include bp.respond(mobile) {
    padding: var(--space-48);
    max-width: 524px;
  }

  .inviteContainerHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-32);
    @include bp.respond(laptop) {
      margin-bottom: var(--space-24);
    }
    .headerTitle {
      display: flex;
      align-items: center;
      justify-content: center;

      h1 {
        font-size: var(--text-32);
        line-height: var(--text-32);
        text-align: center;
        @include bp.respond(mobile) {
          font-size: var(--text-42);
          line-height: var(--text-42);
        }
        @include bp.respond(laptop) {
          font-size: var(--text-48);
          line-height: var(--space-48);
        }
      }
    }
  }

  .groupContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-04);
    @include bp.respond(laptop) {
      align-items: start;
    }

    p{
      color: var(--color-text-secondary);
      margin-bottom: var(--space-24);
      @include bp.respond(laptop) {
        margin-bottom: 0;
      }
    }

    .groupCardContainer{
      width: 100%;
      display: flex;
      align-items: center;
      gap: var(--space-08);
      border-radius: var(--radius-20);
      background-color: var(--color-background);
      border: var(--glass-border);
      padding: var(--space-12);
      height: 72px;
      color: var(--color-text);

      img {
        height: 100%;
        width: auto;
        aspect-ratio: 1/1;
        border-radius: var(--radius-12);
        border: 1px solid rgba(255, 255, 255, 0.4);
      }

      h3 {
        font-family: var(--font-heading), sans-serif;
        font-size: var(--text-32);
        transform: translateY(1px);
      }
    }
  }

  .formQuestionContainer {
    width: 100%;
    margin-top: var(--space-48);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-08);
    @include bp.respond(laptop) {
      gap: var(--space-04);
      flex-direction: row;
      margin-top: var(--space-32);
    }

    h2 {
      font-size: var(--text-24);
      text-align: center;
    }

    button[type=button] {
      height: 42px;
      @include bp.respond(laptop) {
        height: 32px;
        font-size: var(--text-14) !important;
      }
    }
  }
}