.toastContainer {
  color: #fff;
  background: #191919;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  font-family: var(--font-body), sans-serif;
  padding: var(--space-12) var(--space-24) var(--space-12) var(--space-12);
  display: flex;
  gap: var(--space-12);
  align-items: center;
  width: fit-content;
  user-select: none;

  .toastIcon {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
  }

  .title {
    font-size: var(--text-12);
    max-width: 400px;
  }
}