.navbar {
  width: 100%;
  height: 64px;
  background-color: #131313;
  padding: 0 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .buttonsContainer {
    display: flex;
    align-items: center;
    height: 36px;
    gap: 6px;

    .profilContainer {
      display: flex;
      height: 36px;
      gap: 4px;
      align-items: center;
      background-color: #e8e8e8;
      color: #000;

      .pp {
        border-radius: 100%;
        margin: 4px;
      }

      button {
        margin-left: 8px;
        height: 100%;
        border-radius: 0;
        border: none;
        background-color: #e8e8e8;

        &:hover {
          background-color: var(--color-secondary);
          cursor: pointer;
        }
      }
    }

    .iconButton {
      height: 100%;
      aspect-ratio: 1/1;
      background-color: #e8e8e8;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: var(--color-secondary);
        cursor: pointer;
      }
    }
  }
}