.glassBtn {
  min-width: 316px;
  height: 54px;
  padding: 0 var(--space-24);
  font-weight: 500;
  width: fit-content;
  font-size: var(--text-20);
  border-radius: var(--radius-40);
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-12);
}

.button {
  font-size: var(--text-16);
  padding: var(--space-04) var(--space-24);
  height: auto;
  min-width: 100px;
}

.disabled {
  opacity: 0.5;
}