@use '../../../styles/_breakpoints' as bp;

.glassBtn {
  min-width: 316px;
  height: 54px;
  padding: 0 var(--space-24);
  font-weight: 500;
  width: fit-content;
  font-size: var(--text-20);
  border-radius: var(--radius-40);
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-12);

  img {
    width: 20px;
    height: auto;
    aspect-ratio: 1/1;

    @include bp.respond(tablet) {
      width: 24px;
    }
    @include bp.respond(laptop) {
      width: 30px;
    }
  }
}

.button {
  font-size: var(--text-16);
  padding: var(--space-04) var(--space-24);
  height: auto;
  min-width: 100px;
  font-weight: 600;
}

.disabled {
  opacity: 0.5;
}