.headerContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: var(--space-24);

  h2 {
    font-size: var(--text-36);
    line-height: var(--space-36);
  }

  .headerButtonsContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    gap: var(--space-12);

    button {
      height: 36px;
      font-weight: 300;
      font-size: var(--text-12);
      padding: 0 var(--space-32);
    }
  }
}

.gamesContentContainer {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  scrollbar-width: none;
}

.gameCardContainer {
  display: grid;
  grid-template-columns: repeat(7, minmax(160px, 1fr));
  grid-auto-rows: minmax(240px, auto);
  gap: var(--space-20);
  padding: var(--space-12) var(--space-24) var(--space-24) var(--space-24);
}

.noResults, .loader {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}