.headerContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-24) var(--space-24) var(--space-16) var(--space-24);

  h2 {
    font-size: var(--text-32);
    line-height: var(--space-32);
  }

  .headerButtonsContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    gap: var(--space-12);

    button {
      height: 36px;
      font-weight: 300;
      font-size: var(--text-12);
      padding: 0 var(--space-32);
    }
  }
}

.gamesContentContainer {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  scrollbar-width: none;
}

.gameCardContainer {
  display: grid;
  gap: 8px;
  padding: var(--space-12) var(--space-24) var(--space-24);
}

.noResults {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Mobile (≤ 480px) */
@media (max-width: 480px) {
  .gameCardContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Tablette (481px – 768px) */
@media (min-width: 481px) and (max-width: 768px) {
  .gameCardContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Laptop (769px – 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  .gameCardContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Desktop (1025px – 1440px) */
@media (min-width: 1025px) and (max-width: 1440px) {
  .gameCardContainer {
    grid-template-columns: repeat(5, 1fr);
  }
}

/* Large screens (≥ 1441px) */
@media (min-width: 1441px) {
  .gameCardContainer {
    grid-template-columns: repeat(7, 1fr);
  }
}