.createGroupPage {
  height: 100vh;
  width: 100vw;

  .createGroupContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    padding: 24px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .customInput {
      display: flex;
      flex-direction: column;

      input {
        height: 36px;
      }

      textarea {
        height: 96px;
      }
    }

    button {
      padding: 12px 24px;
      background-color: #007BFF;
      border: none;
      font-size: 16px;
      width: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: #FFF;
      font-weight: 600;

      &:hover{
        cursor: pointer;
        background-color: #066edc;
      }
    }
  }
}