.homePage {
  height: 100vh;
  width: 100vw;

  .homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    padding: 24px;
  }

  .listContainer {
    background-color: #0D0D0D;
    width: 80vw;
    border-radius: 20px;
    padding: 16px;

    h2{
      width: 100%;
      border-bottom: 2px solid #FFF;
    }

    .list {
      min-height: 124px;
      padding: 16px 0;
      display: flex;
      gap: 16px;

      .card {
        height: 100px;
        width: 200px;
        background-color: #1A1A1A;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        p {
          text-align: center;
          width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding: 0 10px;
        }

        &:hover {
          cursor: pointer;
          background-color: #232323;
        }
      }
    }
  }

  .buttonsContainer {
    display: flex;
    align-items: center;
    gap: 10px;

    a {
      padding: 12px 24px;
      background-color: #007BFF;
      border: none;
      font-size: 16px;
      width: 300px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: #FFF;
      font-weight: 600;

      &:hover{
        cursor: pointer;
      }
    }
  }
}