.settingSection {
  width: 100%;
  max-width: 1000px;
  min-width: 564px;
  background-color: var(--color-background-dark);
  border-radius: var(--radius-24);
  display: flex;
  align-items: center;
  flex-direction: column;
  border: 1px solid var(--color-surface);
  transition: all 0.3s ease;
  overflow: hidden;
  position: relative;
  height: 72px;
  flex-shrink: 0;

  .settingHeader {
    width: 100%;
    height: 72px;
    padding: var(--space-24);
    background-color: var(--color-surface);
    border-radius: var(--radius-24);
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    z-index: 3000;
    position: absolute;
    top: 0;

    h3 {
      font-size: var(--text-20);
      font-family: var(--font-body), sans-serif;
      font-weight: 600;
      text-transform: uppercase;
    }

    img {
      transition: all 0.3s ease;
    }
  }

  .settingContent {
    display: none;

    h4 {
      font-family: var(--font-heading), sans-serif;
      font-size: var(--text-32);
      line-height: var(--space-32);
    }
  }
}

.settingSectionOpen {
  height: max-content;

  .settingHeader {
    img {
      transform: rotateZ(-180deg);
    }
  }

  .settingContent {
    display: flex;
    margin-top: 72px;
    padding: var(--space-24) var(--space-96) var(--space-32) var(--space-96);
    width: 100%;
    height: max-content;
  }
}