.optionsModalContainer {
  position: absolute;
  left: 100%;
  top: -10%;
  width: fit-content;
  padding: var(--space-12) 0;
  background-color: var(--color-background);
  border: 1px solid var(--color-background-secondary);
  border-radius: var(--radius-08);
  z-index: 9999;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}