$breakpoints: (
        mobile: 480px,
        tablet: 768px,
        laptop: 1024px,
        desktop: 1280px,
        wide: 1920px,
);

@mixin respond($device) {
  @media (min-width: map-get($breakpoints, $device)) {
    @content;
  }
}

@mixin respondMobile() {
  @media (max-width: map-get($breakpoints, mobile)) {
    @content;
  }
}