/* globals.css */

::selection {
  background-color: rgba(58, 148, 199, 0.5);
}

*, *::before, *::after {
  box-sizing: border-box;
  font-variant-ligatures: none;
}

html, body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, p {
  margin: 0;
}

input {
  font-size: var(--text-16);
  font-family: var(--font-body), sans-serif;
}

html {
  font-size: var(--text-16);
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: var(--font-body), serif;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
}

img, video {
  max-width: 100%;
  height: auto;
}

img {
  font-size: 10px;
}

button {
  font-family: inherit;
}


h1 {
  font-size: var(--text-64);
  font-family: var(--font-heading), serif;
  text-transform: uppercase;
}

h2 {
  font-size: var(--text-48);
  font-family: var(--font-heading), serif;
  text-transform: uppercase;
}

h3 {
  font-size: var(--text-36);
}

h4 {
  font-size: var(--text-30);
}

.glassButtonGlobal {
  color: #fff;
  background: rgba(255, 255, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    background: rgba(255, 255, 255, 0.4);
    border-color: rgba(255, 255, 255, 0.5);
    transform: translateY(-1px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  }
}

.glassButtonDisabled {
  color: var(--color-text-gray) !important;
  background: rgba(255, 255, 255, 0.1) !important;
  border-color: rgba(255, 255, 255, 0.1) !important;
  cursor: default !important;

  &:hover {
    transform: translateY(0px) !important;
    box-shadow: none !important;
    background: rgba(255, 255, 255, 0.1) !important;
    border-color: rgba(255, 255, 255, 0.1) !important;
  }
}

.errorMessage {
  color: #E94B42;
  font-size: var(--text-12);
}