/* globals.css */

::selection {
  background-color: rgba(58, 148, 199, 0.5);
}

*, *::before, *::after {
  box-sizing: border-box;
  font-variant-ligatures: none;
}

html, body {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, p {
  margin: 0;
}

input {
  font-size: 16px;
  font-family: var(--font-body), sans-serif;
}

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: var(--font-body), serif;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
}

img, video {
  max-width: 100%;
  height: auto;
}

button {
  font-family: inherit;
}


h1 {
  font-size: var(--text-6xl);
  font-family: var(--font-heading), serif;
  text-transform: uppercase;
}

h2 {
  font-size: var(--text-5xl);
  font-family: var(--font-heading), serif;
  text-transform: uppercase;
}

h3 {
  font-size: var(--text-4xl);
}

h4 {
  font-size: var(--text-3xl);
}