/* theme.css */


/* 1. Fonts */
:root {
  --font-body: var(--font-poppins);
  --font-heading: var(--font-quinn);
}

/* 2. Colors */
:root {
  --color-background: #141414;
  --color-surface: #181818;
  --color-background-secondary: #282828;
  --color-background-secondary-hover: #1e1e1e;
  --color-background-tertiary: #1D1D1D;
  --color-gray: #D9D9D9;

  --color-text: #f5f5f5;
  --color-text-gray: #7F7F7F;
  --color-text-dark: #070707;
  --color-text-secondary: #B3B3B3;
}

/* 3. Spacing scale */
:root {
  --space-04: 0.25rem; /* 04px */
  --space-08: 0.5rem;  /* 08px */
  --space-12: 0.75rem; /* 12px */
  --space-16: 1rem;    /* 16px */
  --space-20: 1.25rem; /* 20px */
  --space-24: 1.5rem;  /* 24px */
  --space-32: 2rem;    /* 32px */
  --space-36: 2.25rem; /* 36px */
  --space-40: 2.5rem;  /* 40px */
  --space-42: 2.625rem;/* 42px */
  --space-48: 3rem;    /* 48px */
  --space-64: 4rem;    /* 64px */
  --space-96: 6rem;    /* 96px */
  --space-128: 8rem;   /* 128px */
  }

/* 4. Typography scale */
:root {
  --text-12: 0.75rem;   /* 12px */
  --text-14: 0.875rem;  /* 14px */
  --text-16: 1rem;      /* 16px */
  --text-18: 1.125rem;  /* 18px */
  --text-20: 1.25rem;   /* 20px */
  --text-24: 1.5rem;    /* 24px */
  --text-30: 1.875rem;  /* 30px */
  --text-32: 2rem;      /* 32px */
  --text-36: 2.25rem;   /* 36px */
  --text-42: 2.625rem;  /* 46px */
  --text-48: 3rem;      /* 48px */
  --text-64: 4rem;      /* 64px */
  --text-88: 5.5rem;    /* 88px */
  --text-128: 8rem;     /* 128px */
}

/* 5. Radius scale */
:root {
  --radius-04: 0.25rem;  /* 04px */
  --radius-08: 0.5rem;   /* 08px */
  --radius-10: 0.725rem; /* 10px */
  --radius-16: 1rem;     /* 16px */
  --radius-20: 1.25rem;  /* 20px */
  --radius-24: 1.5rem;   /* 24px */
  --radius-40: 2.5rem;   /* 40px */
  --radius-full: 100%;   /* full */
}