/* theme.css */


/* 1. Fonts */
:root {
  --font-body: var(--font-poppins);
  --font-heading: var(--font-quinn);
}

/* 2. Colors */
:root {
  --color-background: #141414;
  --color-surface: #181818;

  --color-text: #f5f5f5;
  --color-text-dark: #070707;
  --color-text-secondary: #B3B3B3;
}

/* 3. Spacing scale */
:root {
  --space-04: 0.25rem; /* 04px */
  --space-08: 0.5rem;  /* 08px */
  --space-12: 0.75rem; /* 12px */
  --space-16: 1rem;    /* 16px */
  --space-24: 1.5rem;  /* 24px */
  --space-32: 2rem;    /* 32px */
  --space-40: 2.5rem;  /* 40px */
  --space-48: 3rem;    /* 48px */
  --space-64: 4rem;    /* 64px */
  --space-96: 6rem;    /* 96px */
  --space-128: 8rem;   /* 128px */
  }

/* 4. Typography scale */
:root {
  --text-xs: 0.75rem;   /* 12px */
  --text-sm: 0.875rem;  /* 14px */
  --text-base: 1rem;    /* 16px */
  --text-lg: 1.125rem;  /* 18px */
  --text-xl: 1.25rem;   /* 20px */
  --text-2xl: 1.5rem;   /* 24px */
  --text-3xl: 1.875rem; /* 30px */
  --text-4xl: 2.25rem;  /* 36px */
  --text-5xl: 3rem;     /* 48px */
  --text-6xl: 4rem;     /* 64px */
  --text-8xl: 5.5rem;     /* 88px */
  --text-12xl: 8rem;     /* 128px */
}

/* 5. Radius / Shadows */
:root {
  --radius-sm: 0.25rem; /* 04px */
  --radius-md: 0.5rem;  /* 08px */
  --radius-lg: 1rem;    /* 16px */
  --radius-full: 9999px;
}