.userSettingsSubmitButtons {
  display: flex;
  justify-content: center;
  height: 64px;
  width: 100%;
  padding: 0 var(--space-24) 0 var(--space-24);
  flex-shrink: 0;

  div {
    display: flex;
    justify-content: center;
    gap: var(--space-24);
    width: 100%;
    height: 100%;
    align-items: end;

    button {
      height: 48px;
      transform: translateY(0);
      box-shadow: none;
      font-size: var(--text-14);
    }

    .resetButton {
      background-color: transparent;
      border: none;
      cursor: pointer;
      color: var(--color-text-secondary);
      font-size: var(--text-14);

      &:hover {
        text-decoration: underline;
      }
    }
  }
}