.wrapperContentContainer{
  width: 100%;
}

.wrapperContent {
  width: 100%;
  padding-left: var(--space-12);
  display: flex;
  flex-direction: column;
  gap: var(--space-04);
}

.accountPropsContainer {
  display: flex;
  justify-content: space-between;

  .accountPropsTexts {
    display: flex;
    align-items: center;
    gap: var(--space-24);

    h4 {
      font-size: var(--text-16);
      font-weight: 500;
    }

    p {
      font-size: var(--text-16);
      font-weight: 200;
      color: var(--color-text-secondary);
    }
  }

  button {
    min-width: 0;
    height: auto;
    text-transform: none;
    padding: var(--space-08) var(--space-24);
    font-size: var(--text-14);
  }
}

.deleteSection {
  p {
    font-size: var(--text-12);
    font-weight: 400;
    margin-bottom: var(--space-12);
  }

  .deleteButton {
    background-color: var(--red-dark);
    border: 1px solid var(--red-border);
    color: var(--color-text-red);
    width: fit-content;
    height: 36px;
    border-radius: var(--radius-08);
    padding: 0 var(--space-16);
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: var(--red-dark-hover);
      border: 1px solid var(--red-border-hover);
    }
  }
}