.settingsContainer {
  height: 100%;
  overflow-y: auto;

  .wrapperContentContainer{
    width: 100%;
  }

  .wrapperContent {
    width: 100%;
    padding-left: var(--space-12);
    display: flex;
    flex-direction: column;
    gap: var(--space-04);
    flex-shrink: 0;
  }
}

.accountPropsContainer {
  display: flex;
  justify-content: space-between;

  .accountPropsTexts {
    display: flex;
    align-items: center;
    gap: var(--space-24);

    h4 {
      font-size: var(--text-16);
      font-weight: 500;
    }

    .defaultValue {
      font-size: var(--text-16);
      font-weight: 200;
      color: var(--color-text-secondary);
    }

    .newEmailContainer {
      display: flex;
      gap: var(--space-08);

      .newEmailTag {
        height: 24px;
        font-size: var(--text-12);
        color: var(--color-text-yellow);
        background: var(--yellow-dark);
        border: 1px solid var(--yellow-border);
        transition: all 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 var(--space-08);
        border-radius: var(--radius-04);
        position: relative;
        overflow: hidden;

        .newEmailValue {
          position: absolute;
          top: 24px;
          background-color: var(--color-background);
          border: 1px solid var(--color-background-secondary);
          width: 340px;
          color: #fff;
          transition: all 0.3s ease;
          opacity: 0;
          border-radius: var(--space-08);
          padding: var(--space-08);
          box-shadow: 0 0 16px rgba(0,0,0,0.2);

          img {
            margin-right: var(--space-04);
            transform: translateY(2px);
          }
        }

        &:hover {
          overflow: visible;

          .newEmailValue {
            opacity: 1;
          }
        }
      }
    }
  }

  button {
    min-width: 0;
    height: auto;
    text-transform: none;
    padding: var(--space-08) var(--space-24);
    font-size: var(--text-14);
  }
}

.deleteSection {
  p {
    font-size: var(--text-12);
    font-weight: 400;
    margin-bottom: var(--space-12);
  }

  .deleteButton {
    background-color: var(--red-dark);
    border: 1px solid var(--red-border);
    color: var(--color-text-red);
    width: fit-content;
    height: 36px;
    border-radius: var(--radius-08);
    padding: 0 var(--space-16);
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: var(--red-dark-hover);
      border: 1px solid var(--red-border-hover);
    }
  }
}