.membersContainer {
  width: 100%;
  overflow-y: hidden;
  scrollbar-width: none;
  padding: var(--space-12) var(--space-24) var(--space-24) var(--space-24);
  display: grid;
  gap: 8px;
}

/* Mobile (≤ 480px) */
@media (max-width: 584px) {
  .membersContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Tablette (481px – 768px) */
@media (min-width: 584px) and (max-width: 768px) {
  .membersContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Laptop (769px – 1024px) */
@media (min-width: 769px) and (max-width: 1024px) {
  .membersContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Desktop (1025px – 1440px) */
@media (min-width: 1025px) and (max-width: 1440px) {
  .membersContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Large screens (≥ 1441px) */
@media (min-width: 1441px) {
  .membersContainer {
    grid-template-columns: repeat(5, 1fr);
  }
}