.groupPage {
  height: 100vh;
  width: 100vw;

  .groupContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 48px;
    padding: 24px;
    width: 100%;
  }

  .groupInfos {
    background-color: #0D0D0D;
    padding: 12px;
    border-radius: 10px;
    width: 800px;
  }

  .gamesTable {
    width: 800px;
    background-color: #0D0D0D;
    padding: 12px;
    border-radius: 10px;
    min-height: 200px;


    .gamesTableHeader{
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #fff;
      height: 40px;

      .searchContainer {
        position: relative;
        height: 100%;
        display: flex;
        align-items: center;

        button {
          background-color: #007BFF;
          border: none;
          height: 30px;

          &:hover {
            background-color: #228cfb;
            cursor: pointer;
          }
        }
      }

    }
  }
}