.confirmPage {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/backgrounds/authBackground.jpg") ;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  user-select: none;
  gap: 10px;
}

.confirmContainer {
  background: var(--glass-background);
  border: var(--glass-border);
  backdrop-filter: var(--glass-backdrop);
  border-radius: var(--radius-40);
  padding: var(--space-48);
  width: 524px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .confirmHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-24);
    width: 100%;
    margin-bottom: var(--space-32);

    .confirmHeaderTexts {
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        height: var(--space-48);
        font-size: var(--text-48);
        line-height: var(--space-48);
      }

      p {
        text-align: center;
        font-weight: 300;
        color: var(--color-text-secondary);
      }
    }
  }

  button[type=button] {
    height: 42px;
    min-width: 200px;
  }
}