@use '../../../../styles/_breakpoints' as bp;

.groupsListSection {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  padding: 0 var(--space-12);

  @include bp.respond(tablet) {
    padding: var(--space-24);
  }
}

.groupsListContainer {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--color-surface);
  border-radius: var(--radius-30);
  padding: 0 var(--space-16);

  @include bp.respond(tablet) {
    background-color: transparent;
    border-radius: 0;
    padding: 0 0;
  }

  .groupsTitle {
    display: none;

    @include bp.respond(tablet) {
      display: flex;
      align-items: center;
      padding-left: var(--space-08);
      height: 36px;
      margin-bottom: 12px;
      background-color: var(--color-surface);
      border-radius: var(--radius-08);
    }

    h4 {
      font-size: var(--text-12);
      font-weight: 400;
      text-transform: uppercase;
      color: var(--color-text-gray);
    }
  }

  .groupsList {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scrollbar-width: none;

    @include bp.respond(tablet) {
      gap: var(--space-08);
    }

    .groupCard{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: all 0.3s ease;
      text-decoration: none;
      color: var(--color-text);
      height: 72px;
      border-bottom: 1px solid var(--color-background-secondary);

      @include bp.respond(tablet) {
        background-color: var(--color-background-secondary-hover);
        padding: var(--space-04);
        border: 1px solid var(--color-background-secondary);
        border-radius: var(--radius-16);
        cursor: pointer;
        height: 58px;
      }

      .groupCardDetails {
        display: flex;
        align-items: center;
        gap: var(--space-08);

        img {
          border: var(--glass-border);
          border-radius: var(--radius-12);
          height: 36px;
          width: 36px;
          object-fit: cover;

          @include bp.respond(tablet) {
            height: 48px;
            width: 48px;
          }
        }

        p {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          font-family: var(--font-body), sans-serif;
          font-size: var(--text-16);
          font-weight: 500;
        }
      }

      .groupCardArrowContainer {
        display: flex;
        align-items: center;

        p {
          font-size: var(--text-14);
          font-weight: 300;
          color: var(--color-text-gray);
        }
      }

      @include bp.respond(tablet) {
        &:hover {
          background-color: var(--glass-background-hover);
          border: var(--glass-border-hover);
        }
      }
    }

    .lastGroupCard {
      border-bottom: 0;
    }

    @include bp.respond(tablet) {
      .selectedGroup {
        background-color: var(--glass-background-hover);
        border: var(--glass-border-hover);
        cursor: default;
      }
    }
  }
}

.newGroupButtonContainer {
  margin-top: var(--space-12);

  button {
    width: 100%;
    min-width: 0;
  }
}