.editModalBackground {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.95);
  display: flex;
  justify-content: center;
  padding-top: 300px;


  .editModalContainer {
    background-color: #191919;
    height: fit-content;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h3 {
    width: 100%;
    background-color: #007BFF;
    display: flex;
    align-items: center;
    padding: 6px 16px;
  }

  form {
    padding: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 10px;


    input {
      height: 36px;
      width: 100%;
      padding: 0 8px;
    }

    .editModalButtons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      button {
        border: solid 2px #000;
        background-color: #fff;
        font-weight: 700;
        padding: 0 12px;
        height: 36px;
        width: 49%;

        &:hover {
          background-color: #000;
          color: #FFF;
          cursor: pointer;
        }
      }
    }
  }
}