.searchGameField {
  width: 100%;
  height: 56px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: var(--radius-08);
  position: relative;
  padding: 0 var(--space-42) 0 0;

  input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    color: var(--color-text);
    padding: 0 var(--space-12);

    &:focus {
      outline: none;
    }
  }

  .iconButton {
    height: 100%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;

    button {
      height: 100%;
      width: 100%;
      border: none;
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }

    img {
      height: 24px;
      width: 24px;
    }
  }
}

.searchGameResults {
  height: 317px;
  margin-top: 11px;
  padding: 1px 0 0 0;
  overflow: auto;
  scrollbar-width: none;

  .gameResultsListContainer {
    display: flex;
    flex-direction: column;
    gap: var(--space-04);
    height: 100%;

    .gameResultCard {
      width: 100%;
      background-color: rgba(255, 255, 255, 0.3);
      border: 1px solid rgba(255, 255, 255, 0.4);
      height: 60px;
      border-radius: var(--radius-08);
      flex-shrink: 0;
      overflow: hidden;

      button {
        width: 100%;
        height: 100%;
        background-color: transparent;
        border: none;
        cursor: pointer;
        display: flex;
        padding: 0;

        .imageWrapper {
          position: relative;
          width: 155px;
          height: 100%;
          flex-shrink: 0;
          border-right: 1px solid rgba(255, 255, 255, 0.4);
        }

        p {
          margin-left: 10px;
          display: flex;
          align-items: center;
          text-align: left;
          font-size: var(--text-14);
          font-weight: 300;
          color: var(--color-text);
        }
      }

      &:hover {
        background: rgba(255, 255, 255, 0.4);
        border-color: rgba(255, 255, 255, 0.5);
        transform: translateY(-1px);
        box-shadow: 0 8px 16px rgba(0,0,0,0.2);
      }
    }
  }
}

.noQuery {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text-secondary);
  opacity: 0.1;
}