.homePage {
  h2 {
    font-size: var(--text-12xl);
    line-height: 110px;
  }
}

.heroSection {
  background-color: var(--color-surface);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: var(--text-12xl);
  }
}

.cardsSection {
  height: 100vh;
  padding: var(--space-64) var(--space-128);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10vh;

  .cardsTitleLogo {
    height: 100%;
    display: flex;
    align-items: flex-end;
    position: relative;
    min-width: 200px;

    h2 {
      position: absolute;
      top: 0;
      width: 570px;
    }

    img {
      min-width: 120px;
    }
  }


  .cardsContainer {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    width: fit-content;
    height: 100%;
    max-width: 1224px;
  }
}


.motionSection {
  height: 100vh;
  display: flex;
  padding: var(--space-64) var(--space-128);
  justify-content: space-between;

  .motionContainer {
    height: 100%;
    width: 48%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .contentContainer {
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--space-32);
  }
}

.partnerSection {
  height: 10vh;
  padding: 0 var(--space-128);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1A1A1A;

  h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-weight: 400;
    font-size: var(--text-3xl);
    line-height: 30px;
    border-radius: 20px;
  }
}

.discordSection {
  height: 80vh;
  padding: var(--space-64) var(--space-128);
  display: flex;
  align-items: center;
  justify-content: space-between;

  .discordContainer {
    height: 100%;
    width: 100%;
    background-image: url("/webPage/background.jpg") ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .glassContainer {
      transition: all 0.3s ease;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      position: relative;
      padding: var(--space-64);

      h2 {
        z-index: 200;
      }

      p {
        font-size: var(--text-xl);
        font-weight: 200;
        z-index: 200;
      }

      a {
        z-index: 200;
        margin-top: var(--space-32);
      }

      &:before {
        background: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 40px;
        backdrop-filter: blur(10px);
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 100;
        left: 0;
        top: 0;
      }
    }
  }
}

.footerSection {
  height: 100vh;
  padding: var(--space-64) var(--space-128);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: var(--space-24);

  h2 {
    font-size: var(--text-8xl);
  }

  .footerContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 200px;
  }
}