@use '../styles/_breakpoints' as bp;

.homePage {
  width: 100%;
  overflow: hidden;
}

.heroSection {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 8vh;
  position: relative;
  overflow: hidden;

  .mobileHeroHeader {
    height: 72px;
    position: relative;
    top: 0;
    z-index: 1000;
    width: 100%;
    padding: var(--space-24);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-background);

    .mobileLogo {
      width: 44px;
      height: 24px;
      flex-shrink: 0;
    }

    .mobileMenu {
      position: absolute;
      right: 6px;
      top: 6px;
      display: flex;
      flex-direction: column;
      align-items: end;
      padding: 18px;
      border-radius: var(--radius-12);
      gap: var(--space-24);
      z-index: 1000;
      overflow: hidden;
      @include bp.respond(laptop) {
        display: none;
      }

      .mobileMenuHeader {
        display: flex;
        align-items: center;
        justify-content: start;
        width: 24px;
        height: 24px;
        position: relative;
        flex-shrink: 0;

        h3 {
          display: none;
          opacity: 0;
          transition: opacity 0.3s ease;
        }

        .mobileMenuButton {
          background-color: transparent;
          position: absolute;
          right: -4;
          height: 34px;
          width: 34px;
          aspect-ratio: 1/1;
          display: flex;
          align-items: center;
          justify-content: center;
          border: none;
          border-radius: var(--radius-08);
          padding: 4px;
          cursor: pointer;

          img {
            width: 24px;
            height: 24px;
            max-width: none;
          }

          &:active {
            background-color: var(--color-background-secondary-hover);
          }
        }
      }

      .mobileMenuContainer {
        display: flex;
        flex-direction: column;
        pointer-events: none;
        gap: var(--space-08);
        position: relative;
        z-index: 1000;
        height: fit-content;
        width: 184px;
        opacity: 0;

        a {
          height: 36px;
          width: 100%;
          text-decoration: none;
          border-radius: var(--radius-24);

          button {
            background-color: var(--color-background-secondary);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            cursor: pointer;
            color: var(--color-text);
            font-weight: 600;
            border-radius: var(--radius-24);
            border: none;
            font-size: var(--text-14);

            &:hover {
              background-color: var(--color-background-secondary-hover);
            }
          }
        }

        .buttonBorder {
          button {
            background-color: transparent;
            border: 1px solid var(--color-background-secondary);

            &:hover {
              color: var(--color-text);
              background-color: transparent;
              border-color: var(--color-background-secondary-hover);
            }
          }
        }
      }
    }

    .mobileMenuOpen {
      background-color: var(--color-surface);

      .mobileMenuContainer {
        pointer-events: auto;
        opacity: 1;
      }

      .mobileMenuHeader {
        width: 184px;
        height: 24px;

        h3 {
          display: block;
          font-family: var(--font-heading), sans-serif;
          font-size: var(--text-24);
          line-height: var(--text-24);
          opacity: 1;
          transition: opacity 0.2s ease 0.2s;
        }
      }
    }


    .desktopAuthButtons {
      display: none;

      @include bp.respond(laptop) {
        display: flex;
        gap: var(--space-08);

        a {
          height: 36px;
          width: 100%;
          text-decoration: none;
          border-radius: var(--radius-24);

          button {
            background-color: var(--color-background-secondary);
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
            cursor: pointer;
            color: var(--color-text);
            font-weight: 600;
            border-radius: var(--radius-24);
            border: none;
            padding: 0 var(--space-24);
            transition: all 0.3s ease;
            font-size: var(--text-12);

            &:hover {
              color: var(--color-text-secondary);
              background-color: var(--color-background-secondary-hover);
            }
          }
        }

        .buttonBorder {
          button {
            background-color: transparent;
            border: 1px solid var(--color-background-secondary);

            &:hover {
              background-color: transparent;
              border-color: var(--color-background-secondary-hover);
            }
          }
        }
      }
    }
  }



  .heroVideoContainer {
    width: 100vw;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    @include bp.respond(laptop) {
      width: 100vw;
      height: 70vh;
    }

    .backgroundHeroContainer {
      width: 100%;
      height: 100%;
      background-image: url("/webPage/heroImage2.jpg");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      .heroFrameTop, .heroFrameBottom{
        width: 100%;
        height: 60%;
        aspect-ratio: 390/164;
        position: absolute;
        left: 0;
        background-size: cover;
        background-position: bottom;
        background-repeat: no-repeat;
        z-index: 300;
        @include bp.respond(laptop) {
          aspect-ratio: 1920/399;
        }
      }

      .heroFrameTop {
        top: 0;
        background-image: url("/webPage/heroFrames/mobileHeroFrameTop.svg");
        @include bp.respond(laptop) {
          background-image: url("/webPage/heroFrames/desktopHeroFrameTop.svg");
        }
      }

      .heroFrameBottom {
        bottom: 0;
        background-image: url("/webPage/heroFrames/mobileHeroFrameBottom.svg");
        @include bp.respond(laptop) {
          background-image: url("/webPage/heroFrames/desktopHeroFrameBottom.svg");
        }
      }

      .heroVideo {
        width: auto;
        height: 100%;
        aspect-ratio: 16/9;
        pointer-events: none;
        z-index: 0;

        @include bp.respond(mobile) {
          width: 100%;
          height: auto;
        }
      }
    }

    .heroTitleContainer {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0;

      .heroTitle {
        background: var(--glass-background);
        border: var(--glass-border);
        border-radius: 200px;
        backdrop-filter: var(--glass-backdrop);
        z-index: 200;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: var(--space-16);
        width: 200px;

        @include bp.respond(laptop) {
          padding: var(--space-64);
          width: fit-content;

          img {
            display: block;
            width: 400px;
          }
        }
      }
    }
  }



  .heroContentContainer {
    position: relative;
    z-index: 900;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: var(--space-48) var(--space-24) var(--space-96);
    @include bp.respond(laptop) {
      height: 100%;
      padding: var(--space-12) var(--space-24);
    }

    .heroCTAContainer {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--space-08);

      h1 {
        font-size: var(--text-36);
        line-height: var(--text-36);
        @include bp.respond(laptop) {
          font-size: var(--text-48);
          line-height: var(--text-48);
        }
      }

      p {
        font-size: var(--text-20);
        line-height: var(--text-20);
        text-align: center;
        color: var(--color-text-secondary);
        font-weight: 300;
      }

      a {
        margin-top: var(--space-36);
        font-size: var(--text-16);
        min-width: 0;
        @include bp.respond(laptop) {
          margin-top: var(--space-24);
        }
      }
    }
  }

  .heroVideoContainerLoaded {

  }
}

.cardsSection {
  padding: var(--space-128) var(--space-128);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 16vh;
  gap: var(--space-64);
  width: 100%;

  .cardSectionTitleContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    h2 {
      top: 0;
      font-size: var(--text-128);
      line-height: 100px;
    }
  }

  .cardsContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}


.motionSection {
  height: 100vh;
  display: flex;
  padding: var(--space-64) var(--space-128);
  justify-content: space-between;
  margin-bottom: 5vh;

  .motionContainer {
    height: 100%;
    width: 48%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    img {
      min-width: 420px;
    }
  }

  .contentContainer {
    height: 100%;
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--space-32);

    h2 {
      font-size: var(--text-112);
      line-height: var(--space-96);
      text-align: center;
    }

    a {
      text-decoration: none;
      button {
        min-width: 0;
        font-size: var(--text-20) !important;
      }
    }
  }
}

.partnerSection {
  height: fit-content;
  padding: var(--space-64) var(--space-128) var(--space-96) var(--space-128);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 8vh;
  position: relative;

  .decoration {
    position: absolute;
    width: 100%;
  }

  .partnerContainer {
    position: relative;
    h3 {
      font-weight: 400;
      font-size: var(--text-30);
      line-height: 20px;
      text-align: center;
      width: 100%;
      border-radius: var(--radius-20);
      min-width: 550px;
    }

    .steamInline {
      display: inline-flex;
      align-items: center;
      vertical-align: middle;
    }
  }
}

.discordSection {
  height: 80vh;
  padding: var(--space-64) var(--space-128);
  display: flex;
  align-items: center;
  justify-content: space-between;

  .discordContainer {
    height: 100%;
    width: 100%;
    background-image: url("/webPage/background.jpg") ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: var(--radius-40);
    display: flex;
    align-items: center;
    justify-content: center;

    .glassContainer {
      transition: all 0.3s ease;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      position: relative;
      padding: var(--space-64);

      h2 {
        z-index: 200;
        font-size: var(--text-128);
        line-height: 100px;
      }

      p {
        font-size: var(--text-20);
        font-weight: 200;
        z-index: 200;
      }

      a {
        z-index: 200;
        margin-top: var(--space-32);
      }

      &:before {
        background: var(--glass-background);
        border: var(--glass-border);
        border-radius: var(--radius-40);
        backdrop-filter: var(--glass-backdrop);
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 100;
        left: 0;
        top: 0;
      }
    }
  }
}

.footerSection {
  height: 100vh;
  padding: var(--space-64) var(--space-128);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: var(--space-24);
  position: relative;

  .decoration {
    background-image: url("/webPage/webDecoration2.svg") ;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 15rem;
    left: 0;
  }

  .footerHeader {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-24);

    h2 {
      text-align: center;
      font-size: var(--text-96);
    }
  }

  .footerContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 180px;
    color: var(--color-text-secondary);
    font-weight: 300;
    position: relative;
    height: 32px;

    .legalsButtonsContainer {
      display: flex;
      align-items: center;
      gap: var(--space-16);
      height: 100%;

      p{
        font-family: var(--font-heading), sans-serif;
        font-size: var(--text-16);
        line-height: var(--text-16);
        color: var(--color-background-secondary);
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--color-surface);
        height: 100%;
        padding: 0 var(--space-12);
        border-radius: var(--radius-24);
        font-size: var(--text-12);
        font-weight: 300;
        text-decoration: none;
        color: var(--color-text-gray);
        border: var(--glass-border);
        transition: border 0.3s ease, color 0.3s ease;

        &:hover {
          color: var(--color-text-secondary);
          border: var(--glass-border-hover);
        }
      }
    }
  }
}