@use '../styles/_breakpoints' as bp;

.homePage {
  width: 100%;
  overflow: hidden;
  h2 {
    font-size: var(--text-128);
    line-height: 100px;
  }
}

.heroSection {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8vh;
  position: relative;
  overflow: hidden;

  .heroVideoContainer {
    position: absolute;
    width: 220vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    opacity: 0.6;

    .heroImageContainer{
      width: 100vw;
      height: 100vh;
      position: absolute;

      @include bp.respondMobile() {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
      }

      .heroImage {
        opacity: 1;
        transition: opacity 0.2s ease;

        @include bp.respondMobile() {
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .heroVideo {
      width: 100%;
      height: 130%;
      transform: translateY(-20%);
      pointer-events: none;
      z-index: 0;
      opacity: 0;
      transition: opacity 1s ease;
      background-size: contain;
    }
  }

  .heroContentContainer {
    position: relative;
    z-index: 99999;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    .heroTitleContainer {
      height: 75%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: var(--space-24);

      .heroTitle {
        background: var(--glass-background);
        border: var(--glass-border);
        border-radius: 200px;
        backdrop-filter: var(--glass-backdrop);
        padding: var(--space-64);
        z-index: 2000;
        width: fit-content;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;

        @include bp.respondMobile() {
          padding: var(--space-16);
          width: 300px;
        }
      }
    }

    .heroCTAContainer {
      transform: translateY(2px);
      width: 100%;
      height: 25%;
      display: flex;
      align-items: end;
      justify-content: center;
      background-image: url("/webPage/heroFrame2.png");
      background-position: top;
      background-size: cover;
      background-repeat: no-repeat;
      padding-bottom: var(--space-32);

      a {
        @include bp.respondMobile() {
          font-size: var(--text-12);
          min-width: 0;
        }
      }
    }
  }

  .heroVideoContainerLoaded {
    .heroImage {
      opacity: 0 !important;
    }
    .heroVideo {
      opacity: 1;
    }
  }
}

.cardsSection {
  padding: var(--space-128) var(--space-128);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 16vh;
  gap: var(--space-64);
  width: 100%;

  .cardSectionTitleContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    h2 {
      top: 0;
    }
  }

  .cardsContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}


.motionSection {
  height: 100vh;
  display: flex;
  padding: var(--space-64) var(--space-128);
  justify-content: space-between;
  margin-bottom: 5vh;

  .motionContainer {
    height: 100%;
    width: 48%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    img {
      min-width: 420px;
    }
  }

  .contentContainer {
    height: 100%;
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--space-32);

    h2 {
      font-size: var(--text-112);
      line-height: var(--space-96);
      text-align: center;
    }

    a {
      text-decoration: none;
      button {
        min-width: 0;
        font-size: var(--text-20) !important;
      }
    }
  }
}

.partnerSection {
  height: fit-content;
  padding: var(--space-64) var(--space-128) var(--space-64) var(--space-128);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 8vh;
  position: relative;

  .decoration {
    position: absolute;
    width: 100%;
  }

  .partnerContainer {
    position: relative;
    h3 {
      font-weight: 400;
      font-size: var(--text-30);
      line-height: 20px;
      text-align: center;
      width: 100%;
      border-radius: var(--radius-20);
      min-width: 550px;
    }

    .steamInline {
      display: inline-flex;
      align-items: center;
      vertical-align: middle;
    }
  }
}

.discordSection {
  height: 80vh;
  padding: var(--space-64) var(--space-128);
  display: flex;
  align-items: center;
  justify-content: space-between;

  .discordContainer {
    height: 100%;
    width: 100%;
    background-image: url("/webPage/background.jpg") ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: var(--radius-40);
    display: flex;
    align-items: center;
    justify-content: center;

    .glassContainer {
      transition: all 0.3s ease;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      position: relative;
      padding: var(--space-64);

      h2 {
        z-index: 200;
      }

      p {
        font-size: var(--text-20);
        font-weight: 200;
        z-index: 200;
      }

      a {
        z-index: 200;
        margin-top: var(--space-32);
      }

      &:before {
        background: var(--glass-background);
        border: var(--glass-border);
        border-radius: var(--radius-40);
        backdrop-filter: var(--glass-backdrop);
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 100;
        left: 0;
        top: 0;
      }
    }
  }
}

.footerSection {
  height: 100vh;
  padding: var(--space-64) var(--space-128);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: var(--space-24);
  position: relative;

  .decoration {
    background-image: url("/webPage/webDecoration2.svg") ;
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 15rem;
    left: 0;
  }

  .footerHeader {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-24);

    h2 {
      text-align: center;
      font-size: var(--text-96);
    }
  }

  .footerContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 200px;
    color: var(--color-text-secondary);
    font-weight: 300;
    position: relative;

    .linkButton {
      text-decoration: none;
      color: var(--color-text-secondary);
      font-weight: 300;
      position: relative;

      &:before {
        content: "";
        width: 0;
        height: 1px;
        position: absolute;
        bottom: 2px;
        left: 0;
        transition: width 0.1s ease;
        background-color: var(--color-text-secondary);
      }

      &:hover {
        &:before {
          width: 100%;
        }
      }

    }
  }
}