.settingsSectionContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: var(--space-24);
  gap: var(--space-08);

  h3 {
    color: var(--color-background-secondary);
    font-size: var(--text-20);
    font-weight: 600;
    width: 100%;
    text-transform: uppercase;
  }
}