.headerContainer {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--space-24);

  h2 {
    font-size: var(--text-32);
    line-height: var(--space-32);
  }

  .headerButtonsContainer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-12);

    button {
      height: 36px;
      font-weight: 300;
      font-size: var(--text-12);
      padding: 0 var(--space-32);
    }
  }
}