.headerContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 0 var(--space-48) 0;

  h2 {
    font-size: var(--text-36);
    line-height: var(--space-36);
  }

  .headerButtonsContainer {
    height: 100%;
    display: flex;
    justify-content: center;
    gap: var(--space-12);

    button {
      height: 36px;
      font-weight: 300;
      font-size: var(--text-12);
      padding: 0 var(--space-32);
    }
  }
}

.gamesContentContainer {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  scrollbar-width: none;
}

.gameCardContainer {
  display: grid;
  grid-template-columns: repeat(7, minmax(120px, 1fr));
  grid-auto-rows: minmax(180px, auto);
  gap: var(--space-32);

  .gameCard {
    border-radius: var(--radius-16);
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);

    img {
      transition: all 0.3s ease;
      height: 100%;
      width: 100%;
      opacity: 0.3;
      object-fit: contain;
      background-color: rgba(255, 255, 255, 0.2);
    }

    &:hover {
      img {
        opacity: 1;
      }
    }
  }
}

.noResults, .loader {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}