.authPage {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/backgrounds/authBackground.jpg") ;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  user-select: none;
}

.formContainer {
  background: var(--glass-background);
  border: var(--glass-border);
  backdrop-filter: var(--glass-backdrop);
  border-radius: var(--radius-40);
  padding: var(--space-48);
  width: 524px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .formHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: var(--space-24);
    margin-bottom: var(--space-32);

    .formHeaderTexts {
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        height: var(--space-48);
        font-size: var(--text-48);
        line-height: var(--space-48);
      }

      p {
        text-align: center;
        font-weight: 300;
        color: var(--color-text-secondary);
      }
    }
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .loginUtils {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: var(--text-14);

      label {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        gap: var(--space-04);

        input[type="checkbox"] {
          -webkit-appearance: none;
          appearance: none;
          width: 18px;
          height: 18px;
          background: var(--glass-background);
          border: var(--glass-border);
          backdrop-filter: var(--glass-backdrop);
          transition: all 0.3s;
          border-radius: var(--radius-04);
          cursor: pointer;
          margin: 0;

          &:checked {
            background: var(--glass-background-hover);
          }

          &:checked + .checkmark svg {
            display: flex;
          }
        }

        .checkmark {
          width: 18px;
          height: 18px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          left: 0;

          svg {
            display: none;
          }

          &:hover {
            cursor: pointer;
          }
        }
      }

      .forgotButton {
        background-color: transparent;
        border: none;
        color: #ffffff;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    button[type=submit] {
      margin-top: var(--space-16);
      font-size: var(--text-16);
    }
  }

  .formFooter {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: var(--space-48);

    p {
      font-size: var(--text-14);
      font-weight: 300;
      color: #D7D7D7;
    }

    a {
      font-size: var(--text-14);
      color: #ffffff;
      text-decoration: none;
      transition: 0.3s ease;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}