@use '../../../styles/_breakpoints' as bp;

.authPage {
  min-height: 100vh;
  min-height: 100dvh;

  width: 100%;
  padding-bottom: env(safe-area-inset-bottom);
  padding-top: env(safe-area-inset-top);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  background-image: url("/backgrounds/authBackground.jpg") ;
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: var(--radius-40);

  user-select: none;

  @include bp.respond(mobile) {
    padding: var(--space-24);
    align-items: center;
    flex-direction: row;
    justify-content: center;
    border-radius: 0;
  }
}

.authHeader {
  width: 100%;
  height: 72px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: var(--space-24);
  padding: var(--space-24);
}

.formContainer {
  background-color: var(--glass-background);
  border: var(--glass-border);
  backdrop-filter: var(--glass-backdrop);
  border-radius: var(--radius-40);

  width: 100%;
  height: auto;
  padding: var(--space-48) var(--space-36);

  display: flex;
  flex-direction: column;
  align-items: center;

  @include bp.respond(mobile) {
    max-width: 524px;
    padding: var(--space-48);
  }

  .formHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: var(--space-48);
    margin-bottom: var(--space-32);
    @include bp.respond(laptop) {
      gap: var(--space-32);
    }

    .formHeaderTexts {
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        font-size: var(--text-32);
        line-height: var(--text-32);
        text-align: center;
        text-wrap: nowrap;
        @include bp.respond(mobile) {
          font-size: var(--text-42);
          line-height: var(--text-42);
        }
      }

      p {
        text-align: center;
        font-weight: 300;
        color: var(--color-text-secondary);
        font-size: var(--text-14);
        @include bp.respond(mobile) {
          font-size: var(--text-16);
        }
      }
    }
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .fields {
      width: 100%;
    }

    .loginUtils {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include bp.respond(mobile) {
        font-size: var(--text-14);
      }

      label {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        gap: var(--space-04);

        input[type="checkbox"] {
          -webkit-appearance: none;
          appearance: none;
          width: 18px;
          height: 18px;
          background: var(--glass-background);
          border: var(--glass-border);
          backdrop-filter: var(--glass-backdrop);
          transition: all 0.3s;
          border-radius: var(--radius-04);
          cursor: pointer;
          margin: 0;

          &:checked {
            background: var(--glass-background-hover);
          }

          &:checked + .checkmark svg {
            display: flex;
          }
        }

        .checkmark {
          width: 18px;
          height: 18px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          left: 0;

          svg {
            display: none;
          }

          &:hover {
            cursor: pointer;
          }
        }

        p {
          font-size: var(--text-12);
          @include bp.respond(mobile) {
            font-size: var(--text-14);
          }
        }
      }

      .forgotButton {
        background-color: transparent;
        border: none;
        color: #ffffff;
        cursor: pointer;
        font-size: var(--text-12);
        @include bp.respond(mobile) {
          font-size: var(--text-14);
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }

    button[type=submit] {
      margin-top: var(--space-36);
      font-size: var(--text-16);
      width: 100%;
      max-width: 316px;
      min-width: unset;
      @include bp.respond(mobile) {
        margin-top: var(--space-24);
      }
    }
  }

  .formFooter {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: var(--space-48);
    gap: var(--space-04);

    p {
      font-size: var(--text-14);
      font-weight: 300;
      color: #D7D7D7;
    }

    a {
      font-size: var(--text-14);
      color: #ffffff;
      text-decoration: none;
      transition: 0.3s ease;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}