@use '../../../styles/_breakpoints' as bp;

.authPage {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/backgrounds/authBackground.jpg") ;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  user-select: none;
  padding: var(--space-24);
  overflow: hidden;
}

.formContainer {
  background: var(--glass-background);
  border: var(--glass-border);
  backdrop-filter: var(--glass-backdrop);
  border-radius: var(--radius-40);
  padding: var(--space-36) var(--space-24);
  width: 100%;
  max-width: 524px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include bp.respond(tablet) {
    padding: var(--space-48);
  }

  .formHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: var(--space-48);
    margin-bottom: var(--space-32);
    @include bp.respond(laptop) {
      gap: var(--space-32);
    }

    .formHeaderTexts {
      display: flex;
      flex-direction: column;
      align-items: center;

      h1 {
        font-size: var(--text-32);
        line-height: var(--text-32);
        text-align: center;
        text-wrap: nowrap;
        @include bp.respond(mobile) {
          font-size: var(--text-42);
          line-height: var(--text-42);
        }
        @include bp.respond(laptop) {
          font-size: var(--text-48);
          line-height: var(--space-48);
        }
      }

      p {
        text-align: center;
        font-weight: 300;
        color: var(--color-text-secondary);
      }
    }
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .fields {
      width: 100%;
    }

    .loginUtils {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: var(--text-14);
      @include bp.respond(laptop) {
        justify-content: space-between;
      }

      label {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        gap: var(--space-04);

        input[type="checkbox"] {
          -webkit-appearance: none;
          appearance: none;
          width: 18px;
          height: 18px;
          background: var(--glass-background);
          border: var(--glass-border);
          backdrop-filter: var(--glass-backdrop);
          transition: all 0.3s;
          border-radius: var(--radius-04);
          cursor: pointer;
          margin: 0;

          &:checked {
            background: var(--glass-background-hover);
          }

          &:checked + .checkmark svg {
            display: flex;
          }
        }

        .checkmark {
          width: 18px;
          height: 18px;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          left: 0;

          svg {
            display: none;
          }

          &:hover {
            cursor: pointer;
          }
        }
      }

      .forgotButton {
        background-color: transparent;
        border: none;
        color: #ffffff;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    button[type=submit] {
      margin-top: var(--space-24);
      font-size: var(--text-16);
      width: 100%;
      max-width: 316px;
      min-width: unset;
    }
  }

  .formFooter {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: var(--space-48);

    p {
      font-size: var(--text-14);
      font-weight: 300;
      color: #D7D7D7;
    }

    a {
      font-size: var(--text-14);
      color: #ffffff;
      text-decoration: none;
      transition: 0.3s ease;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}