.accessSettingContainer {
  display: flex;
  flex-direction: column;
  gap: var(--space-48);
  width: 100%;
  flex: 1;
  min-width: 372px;

  .accessSettingContainer {
    display: flex;
    flex-direction: column;
    gap: var(--space-16);

    .accessModesContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: var(--space-12);
      min-height: 124px;
      flex-wrap: wrap;
      height: auto;

      .accessModeCard {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: var(--color-surface);
        border-radius: var(--radius-12);
        flex: 1;
        padding: var(--space-16);
        cursor: pointer;
        border: 1px solid transparent;
        transition: transform 0.2s cubic-bezier(0.4, 0, 0.2, 1),
                    background-color 0.3s ease,
                    border 0.3s ease;
        color: var(--color-text);

        .cardTitle {
          font-family: var(--font-heading), sans-serif;
          font-size: var(--text-24);
        }

        .cardDescription {
          font-size: var(--text-14);
          text-align: center;
          color: var(--color-text-secondary);
        }

        &:hover {
          background-color: var(--color-background-secondary-hover);
        }

        &:active {
          transform: scale(0.98);
        }
      }

      .accessModeCardDisabled{
        cursor: not-allowed;
        opacity: 0.5;

        &:hover {
          background-color: var(--color-surface);
        }

        &:active {
          transform: none;
        }
      }

      .accessModeCardActive {
        background-color: var(--color-background-secondary);
        border: 1px solid var(--color-gray);
        cursor: default;

        &:hover {
          background-color: var(--color-background-secondary);
        }

        &:active {
          transform: none;
        }
      }

      .isDisabled {
        opacity: 0.3;
        cursor: default;

        &:hover {
          background-color: var(--color-surface);
        }

        &:active {
          background-color: var(--color-surface);
        }
      }
    }


    .invitationCodeContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: var(--space-16);

      .invitationCode {
        display: flex;
        align-items: center;
        gap: var(--space-16);

        p {
          text-wrap: nowrap;
        }

        button {
          p {
            padding: var(--space-04) var(--space-24);
          }
        }
      }

      .regenButtonContainer{
        button {
          min-width: 0;
          height: 36px;
          text-transform: none;
          padding: var(--space-08) var(--space-24);
          font-weight: 600;
          font-size: 14px;
        }
      }
    }
  }
}