.settingsContainer {
  height: 100%;
  display: flex;
  flex-direction: column;

  .globalAvatarContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: var(--space-12);

    .mainAvatarContainer {
      height: 160px;
      width: 160px;
      aspect-ratio: 1/1;
      border-radius: var(--radius-12);
      background-color: var(--color-surface);
      border: 1px solid var(--color-background-secondary);
      padding: var(--space-08);

      img {
        border-radius: var(--radius-08);
        border: 1px solid var(--color-background-secondary);
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    button {
      min-width: 0;
      flex-shrink: 0;
      height: 42px;
      position: relative;
      border-radius: var(--radius-40);
      overflow: hidden;
      cursor: pointer;
      padding: 0;

      label {
        height: 100%;
        width: 100%;
        padding: 0 var(--space-24);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--space-08);
        text-transform: none;
        font-size: var(--text-16);
        cursor: pointer;
      }

      input {
        width: 100%;
        height: 100%;
        position: absolute;
        display: none;
      }
    }
  }

  .allAvatarsContainers {
    width: 100%;
    box-shadow: inset 0 2px 8px rgba(0,0,0,0.25);
    border-radius: var(--radius-12);
    background-color: var(--color-background-dark);
    padding: var(--space-12) var(--space-16);

    .avatarsContainerSection {
      display: flex;
      flex-direction: column;
      gap: var(--space-08);

      h4 {
        font-family: var(--font-heading), sans-serif;
        font-size: var(--text-20);
      }

      .avatarsContainer {
        width: 100%;
        height: auto;
        border-radius: var(--radius-12);
        background-color: var(--color-surface);
        border: 1px solid var(--color-background-secondary);
        padding: var(--space-08);
        display: flex;
        align-items: center;
        justify-content: start;
        min-height: 114px;
        flex-wrap: wrap;
        gap: var(--space-12) var(--space-14);


        .recentAvatar {
          border-radius: var(--radius-08);
          border: 1px solid var(--color-background-secondary);
          height: 96px;
          width: 96px;
          flex-shrink: 0;
          transition: all 0.3s ease;
          cursor: pointer;
          overflow: hidden;
          position: relative;

          img {
            object-fit: cover;
            height: 100%;
            width: 100%;
            opacity: 0.4;
            transition: all 0.3s ease;
          }

          .deleteContainer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 40%;
            align-items: center;
            justify-content: center;
            display: flex;
            opacity: 0;
            transition: all 0.2s ease;
            transform: translateY(5px);

            img {
              height: 28px;
              width: 28px;
              border-radius: var(--radius-full);
              padding: var(--space-04);
              background-color: var(--red-dark);
              border: 1px solid var(--red-border);
              transition: all 0.3s ease;
              backdrop-filter: blur(10px);

              &:hover {
                background-color: var(--red-dark-hover);
                border: 1px solid var(--red-border-hover);
              }
            }
          }

          &:hover {
            border-color: var(--select-hover-blue);

            img {
              opacity: 1;
            }
            .deleteContainer {
              opacity: 1;
              transform: translateY(0);
            }
          }
        }

        .selectedAvatar {
          border-color: var(--select-hover-blue);
          cursor: default;

          img {
            opacity: 1;
          }

          .deleteContainer {
            img {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}