@use '../../../../styles/breakpoints' as bp;

.legalSection {
  width: 100%;
  padding: var(--space-32);
  background-color: var(--color-surface);
  border: 1px solid var(--color-background-secondary);
  border-radius: var(--radius-24);

  @include bp.respond(laptop) {
    padding: var(--space-48);
  }

  .sectionHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    gap: var(--space-12);
    margin-bottom: var(--space-36);

    @include bp.respond(laptop) {
      margin-bottom: var(--space-24);
      justify-content: start;
      flex-direction: row;
    }

    .sectionIcon {
      height: 32px;
      width: auto;
      aspect-ratio: 1/1;
      background-color: var(--color-background-secondary);
      border-radius: var(--radius-04);

      p {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: var(--font-heading), sans-serif;
        font-size: var(--text-20);
        line-height:var(--text-20) ;
      }
    }

    h2 {
      font-family: var(--font-body), sans-serif;
      display: flex;
      align-items: center;
      font-size: var(--text-20);
      line-height: var(--text-20);
      font-weight: 600;
      text-align: center;

      @include bp.respond(laptop) {
        text-align: left;
      }
    }
  }

  .sectionContent {
    color: var(--color-text-secondary);
    display: flex;
    flex-direction: column;
    gap: var(--space-24);

    p {
      text-align: center;

      a {
        color: var(--color-text-secondary);
        transition: all 0.3s ease;

        &:hover {
          color: var(--color-text);
        }
      }

      @include bp.respond(laptop) {
        text-align: left;
      }
    }

  }
}