.loader {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  img {
    transform: translateY(10px);
  }

  p {
    font-family: var(--font-heading), sans-serif;
    font-size: var(--text-24);
    transform: translateY(1px);
  }
}