.settingsContainerGlobal {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow-y: hidden;
  scrollbar-width: none;
}

.settingsContainer {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  scrollbar-width: none;
  padding: var(--space-12) var(--space-24) var(--space-24) var(--space-24);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--space-12);
  position: relative;
  z-index: 1000;
}

.submitContainer {
  position: absolute;
  width: 100%;
  bottom: 0;
}