.toastContainer {
  color: #fff;
  background: #191919;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  font-family: var(--font-body), sans-serif;
  padding: var(--space-12) var(--space-24);
  display: flex;
  gap: var(--space-12);
  align-items: center;

  .toastIcon {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .toastTexts {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;

    .title {
      font-weight: 600;
      font-size: 16px;
    }
  }
}
