.gameCard {
  border-radius: var(--radius-16);
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);

  .mainImage {
    transition: all 0.3s ease;
    height: 100%;
    width: 100%;
    opacity: 0.4;
    object-fit: contain;
    background-color: rgba(255, 255, 255, 0.2);
  }

  &:hover {
    .mainImage {
      opacity: 1;
    }
  }

  .gameCardInterface {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .topButtons {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: var(--space-12);

      .glassElement {
        height: 32px;
        width: 32px;
        border-radius: var(--radius-full);
        background-color: rgba(255, 255, 255, 0.3);
        border: 1px solid rgba(255, 255, 255, 0.4);
        backdrop-filter: blur(10px);
        transition: all 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: center;

        h4 {
          font-size: var(--text-16);
          font-weight: 400;
          transform: translateY(1px);
          line-height: var(--space-16);
        }

        img {
          height: 20px;
          width: 20px;
        }
      }

      .glassButton {
        cursor: pointer;
        padding: 0;

        &:hover {
          background-color: rgba(255, 255, 255, 0.4);
          border: 1px solid rgba(255, 255, 255, 0.5);
          box-shadow: 0 8px 16px rgba(0,0,0,0.2);
        }
      }
    }
  }
}