.mainPage {
  height: 100vh;
  width: 100vw;
  user-select: none;
  position: relative;
  overflow: hidden;
}

.mainAppContainer {
  display: flex;
  height: calc(100% - 72px);
  padding-right: var(--space-24);

  .mainContentContainer {
    height: 100%;
    flex: 6;
    border: solid 1px var(--color-background-secondary);
    border-top-left-radius: var(--radius-24);
    border-top-right-radius: var(--radius-24);

    .noGroupsContainer {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding: var(--space-24);

      h1 {
        margin-top: var(--space-128);
        font-size: var(--text-64);
        line-height: var(--text-64);
      }

      p {
        font-size: var(--text-20);
        max-width: 660px;
        text-align: center;
        color: var(--color-text-secondary);
        padding-bottom: var(--space-48);
      }
    }
  }
}

