.groupDetailsSection {
  height: 240px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/backgrounds/groupDetailBanner.jpg") ;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: var(--space-24) var(--space-24) var(--space-48) var(--space-24);
  border-top-left-radius: var(--radius-24);
  border-top-right-radius: var(--radius-24);

  .groupDetailsContainer {
    height: 100%;
    width: 100%;
    background-color: var(--color-background-secondary);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: var(--radius-16);
    padding: var(--space-24);
    display: flex;
    gap: var(--space-24);

    img {
      height: 120px;
      width: 120px;
      border-radius: var(--radius-10);
      border: 1px solid rgba(255, 255, 255, 0.2);
      object-fit: cover;
    }

    .groupDetailsContent {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: var(--space-08);
      overflow: hidden;
      user-select: text;

      h1 {
        font-size: var(--text-64);
        line-height: var(--space-48);
      }

      p {
        line-height: var(--space-20);
      }
    }
    .groupDetailsContentSkeleton {
      display: flex;
      flex-direction: column;
    }
  }
}

.groupNavbarSection {
  width: 100%;
  background-color: var(--color-background-tertiary);
  border-top: 1px solid var(--color-background-secondary);
  border-bottom: 1px solid var(--color-background-secondary);
  height: 46px;

  ul {
    display: flex;
    justify-content: space-between;
    height: 100%;

    .selectButtons {
      display: flex;
      height: 100%;
    }

    li {
      width: 146px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border-right: 1px solid var(--color-background-secondary);
      position: relative;
      font-weight: 200;
      color: var(--color-text-secondary);

      &:before {
        background: rgba(255, 255, 255, 1);
        content: "";
        height: 0;
        width: 100%;
        position: absolute;
        z-index: 100;
        bottom: 0;
        left: 0;
        transition: all 0.1s ease;
      }

      &:hover {
        &:before {
          background: rgba(255, 255, 255, 1);
          content: "";
          height: 2px;
          width: 100%;
          position: absolute;
          z-index: 100;
          bottom: 0;
          left: 0;
        }
      }
    }

    .selectedMenu {
      cursor: default;
      font-weight: 400;
      color: var(--color-text);
      &:before {
        background: rgba(255, 255, 255, 1);
        content: "";
        height: 2px;
        width: 100%;
        position: absolute;
        z-index: 100;
        bottom: 0;
        left: 0;
      }
    }

    .leaveButton {
      border-left: 1px solid var(--color-background-secondary);
      border-right: none;
      color: var(--color-text-red);
      font-weight: 400;
      width: fit-content;
      padding: var(--space-16);

      &:before {
        background: var(--color-text-red);
      }
      &:hover {
        &:before {
          background: var(--color-text-red);
        }
      }
    }
  }
}

.groupSelectedContent {
  height: calc(100vh - 72px);
  display: flex;
  flex-direction: column;
  //no relative position
}