.modalHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--space-24);

  h1 {
    height: var(--space-48);
    font-size: var(--text-42);
    line-height: var(--space-48);
  }

  p {
    text-align: center;
    font-weight: 300;
    color: var(--color-text-secondary);
    max-width: 380px;
    line-height: var(--space-16);
    font-size: var(--text-14);
  }
}

.warningMessageContainer {
  margin-bottom: var(--space-24);
  color: var(--color-text-secondary);
}


.invitationCodeContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-08);

  h3 {
    font-family: var(--font-heading), sans-serif;
    font-size: var(--text-28);
    text-wrap: nowrap;
    transform: translateY(1px);
  }
}


.invitationLinkContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: var(--space-12);
  gap: var(--space-08);

  p {
    text-align: center;
    font-weight: 300;
    color: var(--color-text-secondary);
    line-height: var(--space-16);
    font-size: var(--text-14);
  }
}