.editModalBackground {
  position: absolute;
  height: 300px;
  width: 300px;
  background-color: #000000;
  display: flex;
  top: 38px;
  left: -100px;
  border-radius: 10px;
  flex-direction: column;
  padding: 12px;
  gap: 12px;

  .searchInput {
    width: 100%;

    input {
      width: 100%;
      height: 36px;
      padding: 0 8px;
    }
  }

  .searchResults {
    width: 100%;
    height: 200px;

    .searchResultsList {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 8px;
      overflow-y: auto;

      .searchResultsCard {
        flex: 0 0 auto;
        background-color: #754545;
        height: 48px;
        display: flex;
        align-items: center;
        padding: 0 8px;
      }
    }
  }


}