.mainModalHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .backButton{
    display: flex;
    align-items: center;
    color: var(--color-text-secondary);
    text-transform: uppercase;
    text-decoration: none;
    font-size: var(--text-12);
    position: relative;
    transition: color 0.3s ease;
    padding: 2px 0;

    img {
      transform: rotateZ(90deg);
      height: 14px;
      width: 14px;
    }

    p {
      height: 100%;
      display: flex;
      align-items: center;
      z-index: 1000;
      padding: 0 4px 0 2px;
    }

    &:before {
      content: "";
      position: absolute;
      bottom: 0;
      right: 0;
      height: 100%;
      background-color: var(--color-background);
      width: 0;
      opacity: 0;
      transition: width 0.3s ease, opacity 0.3s ease;
    }

    &:hover {
      color: var(--color-text);
      &:before {
        width: 100%;
        opacity: 1;
      }
    }
  }

  .logo {
    width: auto;
    height: 24px;
  }
}