@use '../../../styles/_breakpoints' as bp;

.mainModalHeader {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  height: 24px;
  position: relative;

  .backButton{
    display: flex;
    align-items: center;
    background-color: var(--glass-background);
    border: var(--glass-border);
    backdrop-filter: var(--glass-backdrop);
    text-transform: uppercase;
    text-decoration: none;
    font-size: var(--text-14);
    font-weight: 400;
    position: absolute;
    left: 0;
    transition: color 0.3s ease, background-color 0.3s ease;
    height: 32px;
    width: auto;
    border-radius: var(--radius-40);
    padding: var(--space-08) var(--space-12);
    @include bp.respond(laptop) {
      aspect-ratio: unset;
      font-size: var(--text-12);
    }

    img {
      height: 20px;
      width: auto;
      aspect-ratio: 1/1;
      z-index: 400;
      transform: rotateZ(90deg);
      @include bp.respond(laptop) {
        height: 14px;
      }
    }

    p {
      color: var(--color-text);
      height: 100%;
      display: flex;
      align-items: center;
      z-index: 1000;
      padding: 0 4px 0 2px;
    }

    &:hover {
      background-color: var(--glass-background-hover);
      border: var(--glass-border-hover);
    }
  }

  .logo {
    width: auto;
    height: 32px;
  }
}