.card {
  height: 16vw;
  width: 16vw;
  min-width: 260px;
  aspect-ratio: 1/1;
  border-radius: var(--radius-16);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--space-32);
  background-color: var(--color-background-dark);

  .cardIcon {
    background-color: #292728;
    border-radius: var(--radius-full);
    width: 3vw;
    height: 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    img {
      width: 1.5vw;
      height: 1.5vw;
    }
  }

  .cardTexts {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-12);

    h4 {
      font-weight: 500;
      font-size: var(--text-28);
      line-height: var(--space-28);
    }

    p {
      font-weight: 300;
      font-size: var(--text-16);
      line-height: var(--space-20);
    }
  }
}

.cardBackground {
  background-color: var(--color-surface);
}