.card {
  height: 100%;
  width: auto;
  aspect-ratio: 1/1;
  border-radius: var(--radius-16);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--space-40);

  .cardIcon {
    background-color: #292728;
    border-radius: var(--radius-full);
    width: 76px;
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cardTexts {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--space-12);

    h4 {
      font-weight: 500;
      font-size: var(--text-36);
      line-height: 40px;
    }

    p {
      font-weight: 300;
      font-size: var(--text-18);
    }
  }
}

.cardBackground {
  background-color: var(--color-surface);
}

.one {
  grid-column: 2;
  grid-row: 1;
}

.two {
  grid-column: 3;
  grid-row: 1;
}

.three {
  grid-column: 1;
  grid-row: 2;
}

.four {
  grid-column: 2;
  grid-row: 2;
}

.five {
  grid-column: 3;
  grid-row: 2;
}
