@use '../../../../styles/breakpoints' as bp;

.backButton{
  display: none;
  align-items: center;
  color: var(--color-text-gray);
  text-transform: uppercase;
  text-decoration: none;
  font-size: var(--text-12);
  position: relative;
  transition: color 0.3s ease;
  padding: 2px 0;
  height: 20px;

  .iconContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    svg {
      height: 14px;
      width: 14px;
      transition: transform 0.3s ease;
    }
  }

  p {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 4px 0 2px;
    font-size: var(--text-16);
  }

  &:hover {
    color: var(--color-text-secondary);

    svg {
      transform: translateX(-1px);
    }
  }


  @include bp.respond(laptop) {
    display: flex;
    height: 24px;

    .iconContainer {
      height: 100%;

      svg {
        height: 16px;
        width: 16px;
      }
    }
  }
}