.gamesContentContainer {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  scrollbar-width: none;
}

.gameCardContainer {
  display: grid;
  gap: 8px;
  padding: var(--space-12) var(--space-24) var(--space-24) var(--space-24);
  grid-template-rows: minmax(220px, 1fr);
}

.noResults {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Mobile (≤ 560px) */
@media (max-width: 560px) {
  .gameCardContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Tablette (560px – 730px) */
@media (min-width: 560px) and (max-width: 730px) {
  .gameCardContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* 730px – 890px */
@media (min-width: 730px) and (max-width: 890px) {
  .gameCardContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Laptop (890px – 1024px) */
@media (min-width: 890px) and (max-width: 1024px) {
  .gameCardContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Desktop (1025px – 1440px) */
@media (min-width: 1025px) and (max-width: 1440px) {
  .gameCardContainer {
    grid-template-columns: repeat(5, 1fr);
  }
}

/* Large screens (≥ 1441px) */
@media (min-width: 1441px) {
  .gameCardContainer {
    grid-template-columns: repeat(7, 1fr);
  }
}