.settingsPage {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  .settingsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    padding: var(--space-24);
  }

  .settingsModale {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #0D0D0D;
    border-radius: var(--radius-20);
    padding: var(--space-12);
    width: 700px;

    .gray1 {
      background-color: #1b1b1b;
    }
    .gray2 {
      background-color: #101010;
    }

    ul {
      list-style: none;
      padding: 0;
      width: 100%;

      li {
        margin: 0;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: var(--space-12);

        button {
          height: 36px;
          padding: 0 var(--space-12);
          border: none;

          &:hover {
            cursor: pointer;
            background-color: #000000;
            color: #FFFFFF;
          }
        }

        .editDisabled {
          &:hover {
            cursor: default;
            background-color: #525252;
            color: #3f3f46;
          }
        }

        span {
          display: flex;
          align-items: center;
          gap: 8px;
        }
      }
    }

    .saveButton {
      margin-top: 20px;
      height: 36px;
      padding: 0 var(--space-12);
      background-color: #4ADE80;
      border: none;

      &:hover {
        cursor: pointer;
        background-color: #2d9e56;

      }
    }

    .resetButton {
      margin-top: 20px;
      height: 36px;
      padding: 0 var(--space-12);
      background-color: transparent;
      border: none;
      color: #fff;

      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }


  }
}